*.pyc
__pycache__
*~
.DS_Store
build/*
.coverage
*.class

dist/
planarity.egg-info/
*.so

# Vim's swap files
*.sw[op]

#Spyder project file
.spyderproject

# VSCode configuration
.vscode/*

# Pylint support
.pylintrc

# Sphinx documentation files
doc/build/**
doc/source/api/**