include MANIFEST.in
include setup.py

include LICENSE.txt
include planarity/c/LICENSE.TXT

include README.md
include planarity/c/README

recursive-include planarity/c/ *.h

include planarity/classic/cplanarity.pxd
include planarity/classic/planarity.c
include planarity/classic/planarity.pyx

include planarity/full/cgraphLib.pxd
include planarity/full/graphLib.pxd
include planarity/full/graph.pxd
include planarity/full/graphLib.c
include planarity/full/graph.c
include planarity/full/g6IterationUtils.c
include planarity/full/graphLib.pyx
include planarity/full/graph.pyx
include planarity/full/g6IterationUtils.pyx

recursive-include examples *.py *.gz
recursive-include doc *.py *.rst Makefile *.html *.txt

global-exclude *~
global-exclude *.pyc
global-exclude .git

prune doc/build
